#/bin/bash

# absolute dates
python pdf-report.py -c "UNC" -c "General Motors" -c "Pepsi" -s 2016-03-16 -e 2016-03-31

# last two weeks (bimonthly correction)
python pdf-report.py -c "UNC" -c "General Motors" -c "Pepsi" -s -2 -e 0